body {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  text-align: center;
}

#track {
  height: 277px;
  background-color: orange;
  position: absolute;
  left: 0;
  right: 0;
}

#doge {
  position: relative;
  border-radius: 15px;
  padding-left: 5px;
}

#grumpy {
  position: relative;
  border-radius: 15px;
  padding-left: 5px;
}
.bottom {
  position: absolute;
  top: 360px;
  width: 100%;
  text-align: center;
}
.info {
  font-size: 20px;
}
ul {
  list-style: none;
  text-align: left;
}
li {
  font-size: 16px;
}
.inline {
  display: inline-block;
}
.btn-reset {
  background-color: yellow;
  color: red;
  left: 0;
  margin: 30px auto;
  position: absolute;
  right: 0;
  width: 130px;
}
.tmp-hidden {
  display: none;
}
